.contacts-base
{
    color: var(--bs-body-color);
}

.contacts-base.footer .contact-content
{
    color: var(--bs-white);
}

.contacts-base .contact-title{

}

.contacts-base .contact-content{
    font-weight: 500;
}