$utilities: map-merge(
  $utilities,
  (
    "opacity": (
      property: opacity,
      values: (
        0: 0,
        1: 0.1,
        25: .25,
        50: .5,
        75: .75,
        100: 1,
      )
    ),
  )
);