<div class="container">
    <p>Welcome to your new website.</p>

    <p>The first thing you need to do is create a superuser. To do this, run</p>

    <textarea class="form-control" disabled>sudo make superuser</textarea>


    <p>in the root folder of the site.</p>

    <p>After that, you will be able to log in to the <a href="/admin">admin panel</a> and begin setting up and filling in the site.</p>
    
    <p>
        To create the homepage, you can use two options:
    </p>
    <ol>
        <li>
            Create a folder <b>app/templates/website/static_pages/home</b>. 
            Inside this folder, create files for each language (for example, en.html, de.html). 
            To make the homepage appear, you need to create a file <b>for at least the default language</b>.            
        </li>
        <li>
            In the admin panel, go to the <b>"Site Content" section -> "Pages"</b> and create a page with the URL "home". Note that data from the database takes priority over files on disk!            
        </li>
    </ol>

<p>
    Creating other static pages works in the same way – either files on disk or database entries.    
</p>



    
</div>